
.input-append .btn.dropdown-toggle {
    float: none;
}

/*site css*/
#page {
    padding-top: 60px;
}

#login {
	width: 320px;
	padding: 80px 0 120px;
	margin: auto;
}

.form {
	margin-left: 0;
	padding: 24px 42px 0;
	font-weight: normal;
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
}

#register {
	width: 650px;
	margin: 80px auto 120px;
	font-weight: normal;
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
}

.register-head{
	margin: 20px 35px 0;
}

#register-form {
	margin-left: 0;
	padding: 24px 42px 0;
	background: #fff;
}

#sidebar {

}

#heroHeading {
	font-size: 24.5px;
}

/*account css*/
#account {
	width: 650px;
	margin: 80px auto 120px;
	font-weight: normal;
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
}

.account-head{
	margin: 20px 35px 0;
}

#account-form {
	margin-left: 0;
	padding: 24px 42px 0;
	background: #fff;
}

/*subscribe css*/
.sub-pin
{
	height:168px;
	max-height:168px;
	max-width:170px;
}

#sub-thumbnail{
	position:relative;
}

.sub-wrapper-close{
	position: absolute;
	right: 5px;
	top: 0px;
}

.sub-wrapper-top-right {
	position: absolute;
	right: 5px;
	top: 5px;
}

.sub-wrapper-bottom-right {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.sub-name{
	font-size: 12.5px;
	margin: 0 0 0;
}

.sub-category {
	font-size: 12.5px;
	margin: 0 0 0;
}

.sub-description {
	font-size: 12.5px;
	height: 18px;
	margin: 0 0 0;
}

#sub-thumb-header {

}

/*feed css*/
.feed-pin
{
	height:168px;
	max-height:168px;
	max-width:170px;
}

#feed-detail {
	padding: 5px 5px 5px 5px;
	margin: auto 50px 32px 50px;
}

#feed-thumbnail{
	position:relative;
}

.feed-name {
	font-size: 12.5px;
	margin: 0 0 0;
}

.feed-category {
	font-size: 12.5px;
	margin: 0 0 0;
}

.feed-description {
	font-size: 12.5px;
	height: 18px;
	margin: 0 0 0;
}

#sub-thumb-header {

}

.feed-wrapper-close{
	position: absolute;
	right: 5px;
	top: 0px;
}

.category{
	padding: 0 10px;
	border: 1px solid #e5e5e5;
	//-webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	//box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
}
